body{
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
}

    h2{
        text-align: left;
    }
    h4{
        color: red;
    }

    .lin{
        text-decoration: underline;
        color:blue
   
    }
    .slant{
        font-style: italic;
        color:blue
    }
    
    